automation/n8n-techpulse-ultimate-v5.json
{
    "name": "TechPulse Ultimate Scraper v5",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours"
                        }
                    ]
                }
            },
            "id": "trigger",
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                820,
                340
            ]
        },
        {
            "parameters": {
                "url": "https://techcrunch.com/feed/",
                "options": {}
            },
            "id": "fetch-techcrunch",
            "name": "Fetch TechCrunch",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                1040,
                200
            ]
        },
        {
            "parameters": {
                "url": "https://www.theverge.com/rss/index.xml",
                "options": {}
            },
            "id": "fetch-verge",
            "name": "Fetch The Verge",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                1040,
                340
            ]
        },
        {
            "parameters": {
                "url": "https://www.wired.com/feed/rss",
                "options": {}
            },
            "id": "fetch-wired",
            "name": "Fetch Wired",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                1040,
                480
            ]
        },
        {
            "parameters": {
                "url": "http://feeds.arstechnica.com/arstechnica/index",
                "options": {}
            },
            "id": "fetch-ars",
            "name": "Fetch Ars Technica",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                1040,
                620
            ]
        },
        {
            "parameters": {},
            "id": "merge-feeds",
            "name": "Merge Feeds",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 2,
            "position": [
                1260,
                400
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "split-batches",
            "name": "Split In Batches",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 1,
            "position": [
                1480,
                400
            ]
        },
        {
            "parameters": {
                "url": "={{ $json.link }}",
                "responseFormat": "string",
                "options": {
                    "response": {
                        "response": {
                            "fullResponse": true
                        }
                    },
                    "redirect": {
                        "redirect": {
                            "followRedirects": true
                        }
                    }
                }
            },
            "id": "fetch-full-content",
            "name": "Fetch Full Content",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                1700,
                400
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "functionCode": "// Robust Content Extractor\nconst html = $input.item.json.body || '';\nconst rssItem = $node[\"Split In Batches\"].json;\n\n// Helper to clean text\nfunction cleanText(text) {\n  if (!text) return '';\n  return text\n    .replace(/<script\\b[^>]*>[\\s\\S]*?<\\/script>/gim, '')\n    .replace(/<style\\b[^>]*>[\\s\\S]*?<\\/style>/gim, '')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\n// Helper to find image\nfunction findImage(html) {\n  const match = html.match(/<meta property=\"og:image\" content=\"([^\"]+)\"/i);\n  return match ? match[1] : null;\n}\n\nlet content = '';\n\n// Strategy 1: Look for common article containers\nconst contentMarkers = [\n  '<article', \n  'class=\"article-body\"', \n  'class=\"entry-content\"', \n  'class=\"post-content\"', \n  'itemprop=\"articleBody\"',\n  '<main'\n];\n\nlet startIndex = -1;\nfor (const marker of contentMarkers) {\n  startIndex = html.indexOf(marker);\n  if (startIndex !== -1) break;\n}\n\nif (startIndex !== -1) {\n  // Extract a large chunk starting from the marker\n  // We take 20000 chars to cover long articles\n  const rawChunk = html.substring(startIndex, startIndex + 20000);\n  content = cleanText(rawChunk);\n} else {\n  // Strategy 2: Fallback to RSS content\n  content = cleanText(rssItem.content || rssItem.contentSnippet || '');\n}\n\n// Fallback if extraction failed or was too short\nif (content.length < 500 && (rssItem.content || rssItem.contentSnippet)) {\n  content = cleanText(rssItem.content || rssItem.contentSnippet);\n}\n\n// Extract Image\nconst imageUrl = findImage(html) || null;\n\n// Determine Source Name\nlet source = 'Tech News';\nif (rssItem.link) {\n  try {\n    const hostname = new URL(rssItem.link).hostname;\n    source = hostname.replace('www.', '').split('.')[0];\n    // Capitalize\n    source = source.charAt(0).toUpperCase() + source.slice(1);\n  } catch (e) {}\n}\n\nreturn {\n  json: {\n    title: rssItem.title,\n    slug: rssItem.title.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/(^-|-$)/g, ''),\n    summary: (rssItem.contentSnippet || content).substring(0, 250) + '...',\n    content: content,\n    // Send 'General' to trigger backend auto-categorization\n    category: \"General\", \n    tags: [\"tech\", source.toLowerCase()],\n    imageUrl: imageUrl,\n    publishedAt: rssItem.pubDate,\n    featured: false,\n    source: source,\n    originalLink: rssItem.link\n  }\n};"
            },
            "id": "extract-normalize",
            "name": "Extract & Normalize",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                1920,
                400
            ]
        },
        {
            "parameters": {
                "requestMethod": "POST",
                "url": "http://192.168.1.114:5000/api/news",
                "options": {},
                "bodyParametersUi": {
                    "parameter": [
                        {
                            "name": "title",
                            "value": "={{ $json.title }}"
                        },
                        {
                            "name": "content",
                            "value": "={{ $json.content }}"
                        },
                        {
                            "name": "summary",
                            "value": "={{ $json.summary }}"
                        },
                        {
                            "name": "category",
                            "value": "={{ $json.category }}"
                        },
                        {
                            "name": "tags",
                            "value": "={{ $json.tags }}"
                        },
                        {
                            "name": "imageUrl",
                            "value": "={{ $json.imageUrl }}"
                        },
                        {
                            "name": "publishedAt",
                            "value": "={{ $json.publishedAt }}"
                        },
                        {
                            "name": "source",
                            "value": "={{ $json.source }}"
                        }
                    ]
                }
            },
            "id": "post-api",
            "name": "POST to API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                2140,
                400
            ]
        },
        {
            "parameters": {},
            "id": "loop",
            "name": "Loop",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                2360,
                500
            ]
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Fetch TechCrunch",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Fetch The Verge",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Fetch Wired",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Fetch Ars Technica",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch TechCrunch": {
            "main": [
                [
                    {
                        "node": "Merge Feeds",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch The Verge": {
            "main": [
                [
                    {
                        "node": "Merge Feeds",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Fetch Wired": {
            "main": [
                [
                    {
                        "node": "Merge Feeds",
                        "type": "main",
                        "index": 2
                    }
                ]
            ]
        },
        "Fetch Ars Technica": {
            "main": [
                [
                    {
                        "node": "Merge Feeds",
                        "type": "main",
                        "index": 3
                    }
                ]
            ]
        },
        "Merge Feeds": {
            "main": [
                [
                    {
                        "node": "Split In Batches",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split In Batches": {
            "main": [
                [
                    {
                        "node": "Fetch Full Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Full Content": {
            "main": [
                [
                    {
                        "node": "Extract & Normalize",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract & Normalize": {
            "main": [
                [
                    {
                        "node": "POST to API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "POST to API": {
            "main": [
                [
                    {
                        "node": "Loop",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop": {
            "main": [
                [
                    {
                        "node": "Split In Batches",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}