automation/n8n-final-local.json
{
  "name": "TechPulse RSS Import — FINAL for Local Testing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "916aebfa-1af4-4be1-9841-0b2c7c1adb38",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        1696,
        1568
      ]
    },
    {
      "parameters": {
        "url": "https://www.computerweekly.com/rss/Latest-IT-news.xml",
        "options": {}
      },
      "id": "562cf68c-fe4a-408b-9867-96d09ce88763",
      "name": "Fetch RSS Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        1904,
        1568
      ]
    },
    {
      "parameters": {
        "functionCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const title = item.json.title || \"Untitled\";\n\n  const slug = title\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/(^-|-$)/g, '');\n\n  const rawContent = item.json.content || 'No content available';\n  const cleaned = rawContent\n    .replace(/<[^>]*>/g, '')   // remove HTML\n    .replace(/\\s+/g, ' ')      // collapse whitespace\n    .trim()\n    .substring(0, 5000);        // prevent HUGE payload\n\n  // **FIX:** Return the object directly without nesting it in 'json'\n  return {\n    title,\n    slug,\n    summary: (item.json.contentSnippet || cleaned.substring(0, 250)),\n    content: cleaned,\n    category: \"IT News\",\n    tags: [\"news\", \"computer weekly\"],\n    imageUrl: \"\",\n    publishedAt: item.json.pubDate || null,\n    featured: false\n  };\n});"
      },
      "id": "922dbb72-ee1f-4de2-a615-a3e6806d3309",
      "name": "Normalize Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2096,
        1568
      ]
    },
        {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "7f15ae2d-52a6-42a3-b7cb-f6821aacd418",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        2304,
        1568
      ]
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "http://192.168.1.114:5000/api/news",
        "jsonParameters": true,
        "options": {
          "timeout": 30000
        },
        "bodyParametersJson": "={{$json}}"
      },
      "id": "a8dca47d-7c1c-4310-b97a-5d50d7110521",
      "name": "POST to API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2496,
        1568
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "U1qvLkJLOJCGEybc",
          "name": "Tech News API Basic Auth"
        }
      }
    },
    {
      "parameters": {},
      "id": "2cb18873-213b-41ab-b111-38e500509686",
      "name": "Next Batch",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2704,
        1568
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS Feed": {
      "main": [
        [
          {
            "node": "Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Data": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "POST to API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to API": {
      "main": [
        [
          {
            "node": "Next Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Next Batch": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
